.category {
    padding-top: 4rem;
    padding-bottom: 4rem;
    .row {
        align-items: center;
    }
    &__title {
        text-align: center;
        h2 {
            font-size: 2.4rem;
            color: #222222;
        }
        p {
            font-size: 14px;
            color: #555555;
        }
    }
    &__slide {
        .slide__card {
            display: flex;
            justify-content: center;
            .slide__component {
                width: 12rem;
                height: 12rem;
                border-radius: 50%;
                border: 1px dashed rgba(94, 94, 94, 0.589);
                text-align: center;
                img {
                    padding-top: 2rem;
                    margin: 0 auto;
                    width: 40px;
                }
                h3 {
                    font-size: 12px;
                }
            }
        }
    }
    .owl-carousel:hover .owl-next {
        opacity: 1;
        transform: translateX(0%) translateY(-50%);
    }
    .owl-carousel:hover .owl-prev {
        opacity: 1;
        transform: translateX(0%) translateY(-50%);
    }
    .owl-next {
        opacity: 0;
        position: absolute;
        right: 0rem;
        transform: translateX(200%) translateY(-50%);
        top: 40%;
    }
    .owl-prev {
        opacity: 0;
        position: absolute;
        left: 0rem;
        transform: translateX(-200%) translateY(-50%);
        top: 40%;
    }
    .owl-theme .owl-nav [class*='owl-'] {
        padding: 7px 10px;
        transition: 0.4s;
    }
    .owl-theme .owl-nav [class*='owl-']:hover {
        background-color: $xam;
    }
    .owl-theme .owl-dots .owl-dot span {
        width: 7px;
        height: 7px;
    }
}

@include breakpoint(991) {
    .category {
        &__title {
            padding-bottom: 2rem;
        }
    }
}